@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: url("../uploads/login.png") no-repeat center/cover;
}

.wrapper {
  width: 400px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.46);
  border: 5px solid rgb(255, 255, 255);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.wrapper h2 {
  text-align: center;
  color: #165700;
  margin-bottom: 30px;
  font-weight: 600;
}

.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input {
  width: 100%;
  padding: 12px 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.6);
  outline: none;
  color: #000000;
  font-size: 15px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -8px;
  font-size: 12px;
  color: #0516b3;
}

.btn {
  width: 180px;
  height: 45px;
  margin: 20px auto;
  display: block;

  background: linear-gradient(135deg, #00c3ff, #0072ff);
  border: none;
  border-radius: 8px;

  color: rgb(7, 7, 7);
  font-weight: 500;
  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 195, 255, 0.6);
}

.message {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;
}

.error {
  color: #ff4d4d;
}

.success {
  color: #00ffcc;
}

.register-link {
  text-align: center;
  color: #000000;
  font-size: 14px;
}

.register-link a {
  color: #030049;
  font-weight: 600;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
  color: #00ffff;
}